.Starters-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.Starter-Box {
  background-color: #555555;
  border: 5px solid #743089;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  width: 80%;
  /* max-width: 600px; */
  box-shadow: 0 2px 4px rgba(0,0,0,1);
  display: flex;
  flex-direction: column;
  gap: 10px

}

.Starter-Box > div, .Starter-Box > form {
  padding: 10px;
  background-color: #777777;
  border: 1px solid #333333;
  border-radius: 5px;
}