.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/public/Images/background-image.png');
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

.home-container p {
  max-width: 600px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.home-container h1 {
  padding-top: 70px;
  padding-bottom: 30px;
}